[user]
	name = Drew Hughlett
	email = drewrh04@gmail.com
[github]
	user = hughlett
[pager]
	branch = false
[pull]
	ff = true
[init]
	defaultBranch = main
[credential]
	helper = 
	helper = /usr/local/bin/git-credential-manager
[push]
	autoSetupRemote = true
[core]
	editor = code --wait
